[Unit]
Description=flask
After=network.target network-online.target

[Service]
Type=simple
User=nvidia
Group=nvidia
Restart=always
PIDFile=/var/run/flask/service.pid
ExecStart=/home/nvidia/github_jetson/jetson_fly/webserver/bootup.sh

[Install]
WantedBy=multi-user.target
